body {background-color: rgb(3, 40, 51);
    margin-top: -140px;}

.bottom {min-width: 264px;
    max-width: 253px;
min-height: 150px;
background-color: #b30000;
border-radius: 110px 0 100px 85px;
transform: rotate(-20deg);
z-index: -1;
position: relative;
bottom: 30px;
left: 25px;}

.col- {z-index: 1;}
.container { width: 1000px;
    height: 100%;
    text-align: center;
    object-position: center;
margin-left: auto;
margin-right: auto;
margin-top: 0;}

.fireplace {background-image: url("../media/brickjpg.jpg");
    position: relative;
    bottom: -140px;
    min-height: 790px;
max-height: 820px;
max-width: 1000px;
z-index: -2;}

.firehole {background-color: #250000;
min-height: 420px;
max-width: 710px;
border-radius: 2px;
position: relative;
top: 370px;
left: 130px;
z-index: -2;}

.fire { background: linear-gradient(0deg, rgba(254,43,32,1) 0%, rgba(244,181,33,1) 100%);}

.hollyberryMiddle {border-radius: 50%;
max-height: 25px;
max-width: 25px;
min-width: 25px;
padding: 8px;
background-color: red;
position: relative;
top: 35px;
left: 154px;}

.hollyberryLeft {border-radius: 50%;
    max-height: 25px;
    max-width: 25px;
    min-width: 25px;
    padding: 8px;
    background-color: red;
    position: relative;
    left: 130px;
top: 60px;}

    
.hollyberryRight {border-radius: 50%;
    max-height: 25px;
    max-width: 25px;
    min-width: 25px;
    padding: 8px;
    background-color: red;
    position: relative;
    left: 152px;
top: 38px;}

.log { background: linear-gradient(0deg, rgba(61,32,30,1) 0%, rgba(170,100,60,1) 100%);
min-height: 100px;
max-width: 280px;
z-index: 1;
position: relative;
top: 40px;
left: 330px;
border-radius: 5px;}

.middle {min-width: 161px;
max-width: 16px;
min-height: 160px;
background-color: #b30000;
transform: rotate(-20deg);
position: relative;
left: 75px;
bottom: 30px;

}

.rightmiddle {min-width: 161px;
    max-width: 160px;
    min-height: 160px;
    background: linear-gradient(180deg, rgba(12,162,1,1) 0%, rgba(60,170,71,1) 100%);
    transform: rotate(-20deg);
    position: relative;
    left: 450px;
    bottom: 30px;
    }

.rightbottom {min-width: 264px;
    max-width: 253px;
min-height: 150px;
background: linear-gradient(0deg, rgba(12,162,1,1) 0%, rgba(60,170,71,1) 100%);
z-index: 1;
border-radius: 110px 0 100px 85px;
transform: rotate(-20deg);
z-index: -1;
position: relative;
bottom: 30px;
left: 400px;}

.rightTop {
    display: flex;
    flex-direction: row;
    transform: rotate(-10deg);
    min-height: 200px;
    z-index: 1;
    position: absolute;
    top: 320px;
    left: 10px;}

.Righttop-left {background-color: #1c6300;
min-height: 50px;
max-height: 100px;
min-width: 200px;
transform: rotate(-12deg);
position: relative;
top: 110px;
left: 642px;
border-radius: 25px;}

.row {z-index: 1;
margin: 0;}

.top-left {min-width: 75px;
max-width: 40px;
min-height: 60px;
max-height: 75px;
background-color: #ffffff;
z-index: 1;
border-radius: 50%;
}

.top-right {min-width: 85px;
    max-width: 40px;
    min-height: 60px;
    max-height: 115px;
    background-color: #ffffff;
    z-index: 1;
    border-radius: 50%;
    position: relative;
    right: 295px;
    bottom: 30px;
}

.top-middle {
    min-width: 105px;
    max-width: 30px;   
    max-height: 130px;
     position: relative;
     right: 90px;
     bottom: 30px;
    background-color: #ffffff;
    z-index: 1;
    border-radius: 50%;
}


.top-middle2 {
    min-width: 105px;
    max-width: 30px;   
    max-height: 140px;
     position: relative;
     right: 160px;
     bottom: 30px;
    background-color: #ffffff;
    z-index: 1;
    border-radius: 50%;
}

.top-middleleft {min-width: 55px;
    max-width: 30px;   
     max-height: 100px;
     position: relative;
     right: 50px;
     bottom: 10px;
    background-color: #ffffff;
    z-index: 1;
    border-radius: 50%;}

    .top-middleright { min-width: 105px;
        max-width: 30px;   
        max-height: 130px;
         position: relative;
         right: 240px;
         bottom: 30px;
        background-color: #ffffff;
        z-index: 1;
        border-radius: 50%;}

    .top {
       display: flex;
       flex-direction: row;
       transform: rotate(-10deg);
       min-height: 200px;
       z-index: 1;
       position: absolute;
       top: 320px;
       left: 10px;
    }
