body {background-color: rgb(3, 40, 51);
    margin-top: -140px;}

.bottom {min-width: 264px;
    max-width: 253px;
min-height: 150px;
background: radial-gradient(circle, rgba(200,11,11,1) 23%, rgba(89,0,0,1) 100%);
border-radius: 110px 0 100px 85px;
transform: rotate(-20deg);
z-index: 1;
position: relative;
bottom: 30px;
left: 25px;}

.col- {z-index: 1;}

.container { width: 1000px;
    max-height: 800px;
    text-align: center;
    object-position: center;
margin-left: auto;
margin-right: auto;
margin-top: 0;}

.fireplace {background-image: url("../media/brickjpg.jpg");
    position: relative;
    bottom: -140px;
    min-height: 790px;
max-height: 820px;
max-width: 1000px;
z-index: -2;}

.firehole {background-color: #250000;
min-height: 420px;
max-width: 710px;
border-radius: 2px;
position: relative;
top: 370px;
left: 130px;
z-index: -2;}

.fire1 { background: linear-gradient(0deg, rgb(114, 202, 236) 0%, #e77415 100%);
    min-height: 40px;
    max-width: 280px;
border-radius: 90%;
position: relative;
left: 330px;
top: 21px;
animation: fireFire 6s ease-in-out infinite alternate;}

.hollyberryMiddle {border-radius: 50%;
    max-height: 8px;
    min-height: 5px;
    min-width: 8px;
    max-width: 8px;
    padding: 8px;
background-color: red;
position: relative;
left: 154px;
bottom: 111px;}

.hollyberryLeft {border-radius: 50%;
    max-height: 8px;
    min-height: 5px;
    min-width: 8px;
    max-width: 8px;
    padding: 8px;
    background-color: red;
    position: relative;
    left: 166px;
    bottom: 86px;
}

    
.hollyberryRight {border-radius: 50%;
    max-height: 8px;
    min-height: 5px;
    min-width: 8px;
    max-width: 8px;
    padding: 8px;
    background-color: red;
    position: relative;
    left: 168px;
bottom: 132px;}


.leafFar {background-color: #076100;
    min-height: 26px;
    min-width: 12px;
    max-width: 10px;
    border-radius: 60%;
    position: relative;
    bottom: 52px;
    left: 188px;
    transform: rotate(-290deg);}
    
    .leafFar2 {background-color: #076100;
        min-height: 26px;
        min-width: 12px;
        max-width: 10px;
        border-radius: 60%;
        position: relative;
        bottom: 62px;
        left: 182px;
        transform: rotate(130deg);}
    
    .leafFar3 {background-color: #043b00;
        min-height: 30px;
        min-width: 12px;
        max-width: 10px;
        border-radius: 60%;
        position: relative;
        bottom: 14px;
        left: 188px;
        transform: rotate(-260deg);}


.leafNear {background-color: #076100;
min-height: 26px;
min-width: 12px;
max-width: 10px;
border-radius: 60%;
position: relative;
top: 22px;
left: 150px;
transform: rotate(290deg);}

.leafNear2 {background-color: #076100;
    min-height: 26px;
    min-width: 12px;
    max-width: 10px;
    border-radius: 60%;
    position: relative;
    bottom: 10px;
    left: 162px;
    transform: rotate(10deg);}

.leafNear3 {background-color: #043b00;
    min-height: 30px;
    min-width: 12px;
    max-width: 10px;
    border-radius: 60%;
    position: relative;
    top: 34px;
    left: 150px;
    transform: rotate(340deg);}

.light { min-height: 26px;
    min-width: 20px;
    max-width: 20px;
    border-radius: 60%;
background-color: #25acb6;}

.lightRed {min-height: 26px;
    min-width: 20px;
    max-width: 20px;
    border-radius: 60%;
background-color: #f00000;
}

.lightPurple {min-height: 26px;
    min-width: 20px;
    max-width: 20px;
    border-radius: 60%;
background-color: #bd24fa;
}

.lightGreen {min-height: 26px;
    min-width: 20px;
    max-width: 20px;
    border-radius: 60%;
background-color: #0aaf05;
}

.lightYellow {min-height: 26px;
    min-width: 20px;
    max-width: 20px;
    border-radius: 60%;
background-color: #a1ac0c;
}


.lights {background-color: #031400;
min-height: 10px;
max-height: 10px;
max-width: 975px;
position: relative;
bottom: 700px;
z-index: 2;}

.lightsLeft {background-color: #031400;
    min-height: 10px;
    max-height: 10px;
    max-width: 700px;
    position: relative;
    transform: rotate(90deg);
    bottom: 364px;
    right: 352px;
    border-radius: 10px;
    z-index: -1;}

    .lightsRight {background-color: #031400;
        min-height: 10px;
        max-height: 10px;
        max-width: 700px;
        position: relative;
        transform: rotate(90deg);
        bottom: 374px;
        left: 622px;
        border-radius: 10px;
        z-index: -1;}

.log { background: linear-gradient(0deg, rgba(61,32,30,1) 0%, rgba(170,100,60,1) 100%);
min-height: 100px;
max-width: 280px;
z-index: 1;
position: relative;
left: 330px;
border-radius: 5px;
animation: fire 6s ease-in-out infinite alternate;}

.middle {min-width: 161px;
max-width: 16px;
min-height: 160px;
background: linear-gradient(83deg, rgba(200,11,11,1) 0%, rgba(88,0,0,1) 100%);
transform: rotate(-20deg);
position: relative;
left: 75px;
bottom: 30px;
}

.middleLightRow {position: relative;
bottom: 738px;
z-index: 2;
min-width: 1060px;
}

.rightmiddle {min-width: 161px;
    max-width: 160px;
    min-height: 160px;
    background: linear-gradient(180deg, rgb(12, 162, 1) 0%, rgb(60, 170, 71) 100%);
    transform: rotate(-20deg);
    position: relative;
    left: 450px;
    bottom: 30px;
    }

.rightbottom {min-width: 264px;
    max-width: 253px;
min-height: 150px;
background: linear-gradient(0deg, rgba(12,162,1,1) 0%, rgba(60,170,71,1) 100%);
z-index: 1;
border-radius: 105px 0 100px 85px;
transform: rotate(-20deg);
position: relative;
bottom: 30px;
left: 400px;}

.rightTop {
    display: flex;
    flex-direction: row;
    transform: rotate(-10deg);
    min-height: 200px;
    z-index: 1;
    position: absolute;
    top: 320px;
    left: 10px;}

.Righttop-left {background-color: #ffffff;
min-height: 50px;
max-height: 100px;
min-width: 220px;
transform: rotate(-12deg);
position: relative;
top: 110px;
left: 630px;
border-radius: 45px;}

.row {z-index: 1;
margin: 0;
max-height: 30px;}

.sideLight {min-height: 26px;
    min-width: 20px;
    max-width: 20px;
    border-radius: 60%;
background-color: #25acb6;
margin-top: 80px;}

.sideLightRed {min-height: 26px;
    min-width: 20px;
    max-width: 20px;
    border-radius: 60%;
background-color: #f00000;
margin-top: 80px;}

.sideLightGreen {min-height: 26px;
    min-width: 20px;
    max-width: 20px;
    border-radius: 60%;
background-color: #0aaf05;
margin-top: 80px;}


.sideLightYellow {min-height: 26px;
    min-width: 20px;
    max-width: 20px;
    border-radius: 60%;
background-color: #a1ac0c;
margin-top: 80px;}

.sideLightPurple {min-height: 26px;
    min-width: 20px;
    max-width: 20px;
    border-radius: 60%;
background-color: #bd24fa;
margin-top: 80px;}

.sideLightRow {position: relative;
z-index: 1;
bottom: 815px;
right: 28px;
min-height: 600px;}

.sideLightsRowRight {position: absolute;
    z-index: 1;
    bottom: 160px;
    left: 1255px;
    min-height: 600px;}

.top-left {min-width: 75px;
max-width: 40px;
min-height: 60px;
max-height: 75px;
background-color: #ffffff;
z-index: 1;
border-radius: 50%;
}

.top-right {min-width: 85px;
    max-width: 40px;
    min-height: 60px;
    max-height: 115px;
    background-color: #ffffff;
    z-index: 1;
    border-radius: 50%;
    position: relative;
    right: 295px;
    bottom: 30px;
}

.top-middle {
    min-width: 105px;
    max-width: 30px;   
    max-height: 130px;
     position: relative;
     right: 90px;
     bottom: 30px;
    background-color: #ffffff;
    z-index: 1;
    border-radius: 50%;
}


.top-middle2 {
    min-width: 105px;
    max-width: 30px;   
    max-height: 140px;
     position: relative;
     right: 160px;
     bottom: 30px;
    background-color: #ffffff;
    z-index: 1;
    border-radius: 50%;
}

.top-middleleft {min-width: 55px;
    max-width: 30px;   
     max-height: 100px;
     position: relative;
     right: 50px;
     bottom: 10px;
    background-color: #ffffff;
    z-index: 1;
    border-radius: 50%;}

    .top-middleright { min-width: 105px;
        max-width: 30px;   
        max-height: 130px;
         position: relative;
         right: 240px;
         bottom: 30px;
        background-color: #ffffff;
        z-index: 1;
        border-radius: 50%;}

    .top {
       display: flex;
       flex-direction: row;
       transform: rotate(-10deg);
       min-height: 200px;
       z-index: 1;
       position: absolute;
       top: 320px;
       left: 10px;
    }

@keyframes fire {0% {box-shadow: 0px -20px 40px #72caec,
    0px -25px 55px #c2fd54,
    0px -30px 65px #c2fd54,
    0px -35px 75px #e77415;}
50% {box-shadow: 0px -20px 50px #72caec,
    0px -25px 60px #c2fd54,
    0px -30px 70px #e79315,
    0px -35px 80px #c2fd54;}
100% {box-shadow: 0px -20px 60px #72caec,
    0px -25px 70px #fdd054,
    0px -30px 80px #e72e15,
    0px -35px 90px #fdd654;}
}


@keyframes fireFire {0% {box-shadow: 0px 0px 30px #72caec,
    0px 0px 45px #c2fd54,
    0px 0px 55px #c2fd54,
    0px 0px 65px #e77415;}
50% {box-shadow: 0px 0px 40px #72caec,
    0px 0px 50px #c2fd54,
    0px 0px 60px #e79315,
    0px 0px 70px #c2fd54;}
100% {box-shadow: 0px 0px 50px #72caec,
    0px 0px 60px #fdd054,
    0px 0px 70px #e72e15,
    0px 0px 80px #fdd654;}
}